@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
}

@layer base {
  .font-pacifico {
    font-family: "Pacifico", cursive;
  }
}

@layer base {
  .font-righteous {
    font-family: "Righteous", cursive;
  }
}

@layer base {
  .bg-iphone {
    background-image: url("../assets/img/Mass\ Circles.svg");
  }
}

.active {
  color: #009fbd;
}
